name: Build EnZyUI

on:
  push:
    paths:
      - "src/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build EnZyUI
        run: |
          find src -type f -name "*.lua" -print -exec cat {} \; > EnZyUI.lua

      - name: Commit build
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add EnZyUI.lua
          git commit -m "auto build EnZyUI" || echo "no changes"
          git push
